
.titulo_principal{
    margin-top: 3%;
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(rebeccapurple, steelblue, turquoise);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5%;
}

.dark h1{
    background-image: linear-gradient(rgb(123, 98, 148), rgb(121, 171, 212), rgb(39, 255, 233));
}

h2{
    margin-left: 9%;
    font-family: Arial, Helvetica, sans-serif;
    color: #2E629E;
    font-size: 140%;
    margin-bottom: 2%;
}

.dark h2{
    color: #8cb7e0;
}

.titulo_formulario{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkslateblue;
    margin-bottom: 5%;
    font-size: 140%;
}

.dark .titulo_formulario{
    color: #b5dbff;
}

.form-conteiner {
    background-color: #eef6ff;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    border-radius: 30px;
}

.dark .form-conteiner{
    background-color: #2E629E;
}

.titulo {
    margin-left: 5%;
    font-size: 110%;
    font-family: Arial, Helvetica, sans-serif;
}

.dark .titulo{
    color: #bee0ff;
}

.digitar,
.form-contact textarea {
    width: 90%;
    display: block;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 5%;
    resize: none;
    overflow: auto;
    border: 2px solid #3a6a97;
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
    padding: 10px 20px 12px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 110%;
}

.dark .digitar, .form-contact textarea{
    background-color: #67a7f0;
    border: 2px solid #bee0ff;
    color: #003261;
}

.dark .sub{
    color: white;
}

textarea{
    height: 200px;
}

#checkbox,
.div-entry {
    margin: 30px auto;
}

.lista{
    margin-top: 2%;
}

.linha{
    list-style-type: none;
    margin-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

input[type=submit] {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #74b4f0;
    border-radius: 30px;
    font-size: 110%;
    background: linear-gradient(to bottom, #a7cff7 20%, #3358d3 100%);
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    color: white;
    display: block;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.dark input[type=submit]{
    background: linear-gradient(to bottom, #8babcc 20%, #0530bd 100%);
    border: 2px solid #5799d8;
    
}

input[type=submit]:hover {
    background: linear-gradient(to bottom, #8babcc 20%, #4c6dd8 100%);
    cursor: pointer;
    border: 2px solid #214566;
}

.dark input[type=submit]:hover {
    background: linear-gradient(to bottom, #163c63 20%, #6379c4 100%);
    border: 2px solid #214566;
}
